# כלליים
node_modules/
.env
.DS_Store
*.log
redberryapp-35f46918a6be.json

# קליינט
client/node_modules/
client/.env
client/build/

# סרבר
server/node_modules/
server/.env

# Cypress
cypress/videos/
cypress/screenshots/

# VSCode
.vscode/
uploads/
node_modules/
